*.DS_Store
week1/hm/hm_1.pptx
week1/reading
week2/reading
week2/test
week2/hw/target
week2/hw/.settings
week2/hw/.project
week2/hw/.classpath
reading
JavaCourseCodes/
week3/hw/.settings
wee3/hw/.classpath
week3/hw/.project
week3/hw/.factorypath
week3/hw/.classpath
*ipynb